body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:60px;
  top:40px;
  width:375px;
  height:667px;
}
#u956 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:360px;
  top:54px;
  width:1px;
  height:16px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u961 {
  position:absolute;
  left:60px;
  top:40px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u962 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u963 {
  position:absolute;
  left:60px;
  top:40px;
  width:375px;
  height:20px;
}
#u964 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u965 {
  position:absolute;
  left:60px;
  top:103px;
  width:375px;
  height:1px;
}
#u966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u967 {
  position:absolute;
  left:74px;
  top:72px;
  width:12px;
  height:20px;
}
#u968 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u969 {
  position:absolute;
  left:96px;
  top:67px;
  width:1px;
  height:27px;
  color:#000000;
}
#u970 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u971 {
  position:absolute;
  left:108px;
  top:74px;
  width:132px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u972 {
  position:absolute;
  left:2px;
  top:-2px;
  width:128px;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  position:absolute;
  left:60px;
  top:660px;
  width:375px;
  height:47px;
}
#u974 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:74px;
  top:673px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u977 {
  position:absolute;
  left:143px;
  top:679px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u978 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:70px;
}
#u979 {
  position:absolute;
  left:61px;
  top:120px;
  width:374px;
  height:70px;
}
#u980 {
  position:absolute;
  left:2px;
  top:27px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u981 {
  position:absolute;
  left:74px;
  top:134px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u983 {
  position:absolute;
  left:74px;
  top:163px;
  width:274px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:70px;
}
#u985 {
  position:absolute;
  left:60px;
  top:189px;
  width:374px;
  height:70px;
}
#u986 {
  position:absolute;
  left:2px;
  top:27px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u987 {
  position:absolute;
  left:73px;
  top:203px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u989 {
  position:absolute;
  left:73px;
  top:232px;
  width:287px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u992 {
  position:absolute;
  left:380px;
  top:135px;
  width:42px;
  height:20px;
}
#u993 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u994 {
  position:absolute;
  left:382px;
  top:137px;
  width:16px;
  height:16px;
}
#u995 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u997 {
  position:absolute;
  left:380px;
  top:202px;
  width:42px;
  height:20px;
}
#u998 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u999 {
  position:absolute;
  left:403px;
  top:204px;
  width:16px;
  height:16px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:61px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1002 {
  position:absolute;
  left:450px;
  top:198px;
  width:200px;
  height:61px;
  color:#FFFFFF;
}
#u1003 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u1004 {
  position:absolute;
  left:474px;
  top:219px;
  width:20px;
  height:21px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
